{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li class="nav-item active">
            <a href="{{ path("produits") }}" class="btn btn-success">Liste des Produits</a>
        </li>
        <li>
            <a href="{{ path("produit_ajouter") }}" class="btn btn-success">Ajouter un Produit</a>
        </li>
        </ul>
</div>
{% endblock %}
